<div ng-controller='questionController'>
<div class='wrapper'>
    <h2>New Question</h2>
    <div id='newQuestionForm'>
        <form ng-model = "question">
            <div>
                <label>Question:</label>
                <div>
                    <textarea cols="50" rows="10" ng-model='question.question'></textarea>
                </div>
            </div>
            <div>
                <p>Correct Answer: <input type="text" ng-model="question.correct_answer"></p>
            </div>
            <div>
                <p>Fake Answer 1: <input type="text" ng-model="question.fake_answer_1"></p>
            </div>
            <div>
                <p>Fake Answer 2: <input type="text" ng-model="question.fake_answer_2"></p>
            </div>
            <a href='#!/home'><button>Cancel</button></a> <input type="submit" value = "Add Question" ng-click="add_question()">
        </form>
    </div>
    {{errors}}
    <h3>{{errors.question.message}}</h3>
    <h3>{{errors.correct_answer.message}}</h3>
    <h3>{{errors.fake_answer_1.message}}</h3>
    <h3>{{errors.fake_answer_2.message}}</h3>
    <h3>{{message_question}}</h3>
    <h3>{{message_correct_answer}}</h3>
    <h3>{{message_fake_answer_1}}</h3>
    <h3>{{message_fake_answer_2}}</h3>
</div>


